{% extends 'base.html.twig' %}

{% block title %}Gruppe „{{ group.name }}" bearbeiten - Social Network Fetcher{% endblock %}

{% block page_title %}Gruppe „{{ group.name }}" bearbeiten{% endblock %}

{% block body %}
    <div class="data-card">
        <div class="data-card-body">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.client) }}
                {{ form_row(form.description) }}
                {{ form_row(form.color) }}
                {{ form_row(form.profiles) }}
                <div class="mt-3 d-flex gap-2">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                    <a href="{{ path('app_group_show', {id: group.id}) }}" class="btn btn-outline-secondary">Abbrechen</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
